<div class="dvStickerLst">
  <div>
    <span style="position: absolute;top:18px;font-size:10px;line-height: initial">BUYING
      <br>PERF</span>
    <div class="mixPercentageColumns">
      <span style="position: absolute;top:-6px;margin-left:30px;">ACTUAL</span>
      <span style="position: absolute;top:15px;margin-left:30px;">{{betterOf.buyingPerfActual}}%</span>
    </div>
    <div style="top:21px;left: 100px;" class="vl"></div>
    <div class="mixPercentageColumns">
      <span style="position: absolute;top:-6px;margin-left:120px;">TARGET</span>
      <span style="position: absolute;top:15px;margin-left:120px;">{{betterOf.buyingPerfTarget}}%</span>
    </div>

    <div class="mixPercentageColumns">
      <span style="position: absolute;top:42px;margin-left:30px;">{{betterOf.effPumpFeeActual}}%</span>
    </div>
    <div style="top:48px;left: 100px;" class="vl"></div>
    <div class="mixPercentageColumns">
      <span style="position: absolute;top:42px;margin-left:120px;">{{betterOf.effPumpFeeTarget}}%</span>
    </div>
  </div>

  <div>
    <span style="position: absolute;bottom:18px;font-size:10px;line-height: initial">EFF
      <br>PUMP FEE</span>
  </div>
</div>