<div class="container-fluid" style="min-width: 1348px;">
  <div class="row">
    <div class="customer-pricing" style="width: 1315px">PFJ OVERVIEW
      <span style="margin-left: 15px;color: #CECED1">Last Closed Period: January 2018</span>
      <div style="float: right;width: 20%;margin-right:22px;font-size: 14px;color: #CECED1">
        <div style="float: right;margin-left: 10px;line-height: 20px;">
          <span style="padding-left: 2px;">LCYTD</span>
          <input style="float: left;" name="options" ng-control="options" type="radio">
        </div>
        <div style="float: right;margin-left: 10px;line-height: 20px;">
          <span style="padding-left: 2px;">LCM</span>
          <input style="float: left;" name="options" ng-control="options" type="radio">
        </div>
        <div style="float: right;margin-left: 10px;line-height: 20px;">
          <span style="padding-left: 2px;">MTD</span>
          <input style="float: left;" name="options" ng-control="options" type="radio">
        </div>

      </div>
    </div>

    <div style="float:left;margin-top: 20px;">
      <div class="dvStickerHeaderCap"></div>
      <div class="dvStickerHeader">PFJ TOTAL</div>
      <div class="dvStickerContainer">
        <div style="min-height: 143px;">
          <div class=dvSticker>
            <div class="dvStickerHeaderLeft"> TOTAL GP$</div>
            <div class="dvStickerHeaderRight"> 140.4</div>
            <div class="dvStickerContentLeft">
              <div style="padding-top: 10px;">
                <span class="spnStickerLeftVal">
                  <img src='assets/up_arrow.png'>3.157</span>
                <div style="float:right;">
                  <span class=spnStickerCenterVal>VS.TG</span>
                  <span class=spnStickerRightVal>137.3</span>
                </div>
              </div>
              <div style="padding-top: 10px;">
                <span class="spnStickerLeftVal">
                  <img src='assets/up_arrow.png'>3.157</span>
                <div style="float:right;">
                  <span class=spnStickerCenterVal>VS.LY</span>
                  <span class=spnStickerRightVal>137.3</span>
                </div>
              </div>
            </div>
          </div>
          <div class=dvSticker>
            <div class="dvStickerHeaderLeft"> TOTAL GP$</div>
            <div class="dvStickerHeaderRight"> 140.4</div>
            <div class="dvStickerContentLeft">
              <div style="padding-top: 10px;">
                <span class="spnStickerLeftVal">
                  <img src='assets/up_arrow.png'>3.157</span>
                <div style="float:right;">
                  <span class=spnStickerCenterVal>VS.TG</span>
                  <span class=spnStickerRightVal>137.3</span>
                </div>
              </div>
              <div style="padding-top: 10px;">
                <span class="spnStickerLeftVal">
                  <img src='assets/up_arrow.png'>3.157</span>
                <div style="float:right;">
                  <span class=spnStickerCenterVal>VS.LY</span>
                  <span class=spnStickerRightVal>137.3</span>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div style="min-height: 143px;">
          <div class=dvSticker>
            <div class="dvStickerHeaderLeft"> TOTAL GP$</div>
            <div class="dvStickerHeaderRight"> 140.4</div>
            <div class="dvStickerContentLeft">
              <div style="padding-top: 10px;">
                <span class="spnStickerLeftVal">
                  <img src='assets/up_arrow.png'>3.157</span>
                <div style="float:right;">
                  <span class=spnStickerCenterVal>VS.TG</span>
                  <span class=spnStickerRightVal>137.3</span>
                </div>
              </div>
              <div style="padding-top: 10px;">
                <span class="spnStickerLeftVal">
                  <img src='assets/up_arrow.png'>3.157</span>
                <div style="float:right;">
                  <span class=spnStickerCenterVal>VS.LY</span>
                  <span class=spnStickerRightVal>137.3</span>
                </div>
              </div>
            </div>
          </div>
          <div class=dvSticker>
            <div class="dvStickerContentLeft" style="margin-top:0px;height: 143px;">
              <div class="dvStickerHeaderCapSmall"></div>
              <div style="padding-top: 10px;">
                <span class="spnStickerLeftVal">
                  <img src='assets/up_arrow.png'>3.157</span>
                <div style="float:right;">
                  <span class=spnStickerCenterVal>VS.TG</span>
                  <span class=spnStickerRightVal>137.3</span>
                </div>
              </div>
              <div style="padding-top: 10px;">
                <span class="spnStickerLeftVal">
                  <img src='assets/up_arrow.png'>3.157</span>
                <div style="float:right;">
                  <span class=spnStickerCenterVal>VS.LY</span>
                  <span class=spnStickerRightVal>137.3</span>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div style="float:left;margin-top: 20px;">
      <div class="dvStickerHeaderCap" style="width: 507px;"></div>
      <div class="dvStickerHeader" style="width: 507px;">GROSS PROFIT $</div>
      <div class="dvStickerContainer">
        <div class="dvTableauMap"></div>
      </div>

    </div>
    <div style="float:left;margin-top: 20px;">
      <div class="dvStickerHeaderCapSmall" style="width: 243px;"></div>
      <div class="dvStickerHeaderSmall" style="width: 243px;">CHOOSE VIEW</div>
      <div class="dvStickerContainer" style="width: 243px;">
        <div class="dvTableauMapFilter" style="width: 243px;font-size: 12px;">
          <div style="color:#CECED1;padding-top:7%">
            <span style="margin-left: 5px;vertical-align: sub">
              <input name="tableauFilter" ng-control="options" type="radio">
            </span>
            <span>
              GROSS PROFIT $
            </span>
          </div>
          <div style="color:#CECED1;padding-top:27%">
            <span style="margin-left: 5px;vertical-align: sub">
              <input name="tableauFilter" ng-control="options" type="radio">
            </span>
            <span>
              VOLUME
            </span>
          </div>
          <div style="color:#CECED1;padding-top:27%">
            <span style="margin-left: 5px;vertical-align: sub">
              <input name="tableauFilter" ng-control="options" type="radio">
            </span>
            <span>
              MARGIN
            </span>
          </div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>

    <!-- Next line starts here -->
    <div style="margin-bottom: 20px;float:left;width:100%"></div>
    <div style="float:left;">
      <div class="dvStickerHeaderCapSmall"></div>
      <div class="dvStickerHeaderSmall">BETTER OF</div>
      <div class="dvStickerContainer">
        <div class="dvStickerContainer">
          <div style="min-height: 143px;">
            <div class=dvSticker>
              <div class="dvStickerHeaderLeft"> TOTAL GP$</div>
              <div class="dvStickerHeaderRight"> 140.4</div>
              <div class="dvStickerContentLeft">
                <div style="padding-top: 10px;">
                  <span class="spnStickerLeftVal">
                    <img src='assets/up_arrow.png'>3.157</span>
                  <div style="float:right;">
                    <span class=spnStickerCenterVal>VS.TG</span>
                    <span class=spnStickerRightVal>137.3</span>
                  </div>
                </div>
                <div style="padding-top: 10px;">
                  <span class="spnStickerLeftVal">
                    <img src='assets/up_arrow.png'>3.157</span>
                  <div style="float:right;">
                    <span class=spnStickerCenterVal>VS.LY</span>
                    <span class=spnStickerRightVal>137.3</span>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div style="min-height: 143px;">
            <div class=dvSticker>
              <div class="dvStickerHeaderLeft"> TOTAL GP$</div>
              <div class="dvStickerHeaderRight"> 140.4</div>
              <div class="dvStickerContentLeft">
                <div style="padding-top: 10px;">
                  <span class="spnStickerLeftVal">
                    <img src='assets/up_arrow.png'>3.157</span>
                  <div style="float:right;">
                    <span class=spnStickerCenterVal>VS.TG</span>
                    <span class=spnStickerRightVal>137.3</span>
                  </div>
                </div>
                <div style="padding-top: 10px;">
                  <span class="spnStickerLeftVal">
                    <img src='assets/up_arrow.png'>3.157</span>
                  <div style="float:right;">
                    <span class=spnStickerCenterVal>VS.LY</span>
                    <span class=spnStickerRightVal>137.3</span>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="dvStickerDevider"></div>
          <div class="mixPercentage">
            <span style="font-size: 10px;line-height: 50px;">Mix%</span>
            <div>
              <div class="mixPercentageColumns">
                <span style="position: absolute;top:0px;">ACTUAL</span>
                <span style="position: absolute;bottom:0px;">59.9%</span>
              </div>

              <div class="mixPercentageColumns">
                <div class="vl"></div>
              </div>


              <div class="mixPercentageColumns" style="margin-left: 110px;">
                <span style="position: absolute;top:0px;">TARGET</span>
                <span style="position: absolute;bottom:0px;">59.9%</span>
              </div>
              <div class="mixPercentageColumns" style="margin-left: 111px;">
                <div class="vl"></div>

              </div>

              <div class="mixPercentageColumns" style="margin-left: 186px;">
                <img class="imgMixPercentage" src='assets/up_arrow.png'>
                <span style="position: absolute;top:0px;">VS.LY</span>
                <span style="position: absolute;bottom:0px;">59.9%</span>
              </div>

            </div>
          </div>
          <div class="dvStickerDevider"></div>
          <div class="dvStickerLst">
            <div>
              <span style="position: absolute;top:18px;font-size:10px;line-height: initial">BUYING
                <br>PERF</span>
              <div class="mixPercentageColumns">
                <span style="position: absolute;top:-6px;margin-left:30px;">ACTUAL</span>
                <span style="position: absolute;top:15px;margin-left:30px;">59.9%</span>
              </div>
              <div style="top:21px;left: 100px;" class="vl"></div>
              <div class="mixPercentageColumns">
                <span style="position: absolute;top:-6px;margin-left:120px;">ACTUAL</span>
                <span style="position: absolute;top:15px;margin-left:120px;">59.9%</span>
              </div>

              <div class="mixPercentageColumns">
                <span style="position: absolute;top:42px;margin-left:30px;">85.9%</span>
              </div>
              <div style="top:48px;left: 100px;" class="vl"></div>
              <div class="mixPercentageColumns">
                <span style="position: absolute;top:42px;margin-left:120px;">59.9%</span>
              </div>
            </div>

            <div>
              <span style="position: absolute;bottom:18px;font-size:10px;line-height: initial">EFF
                <br>PUMP</span>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div style="float:left;">
      <div class="dvStickerHeaderCapSmall"></div>
      <div class="dvStickerHeaderSmall">TOTAL RETAIL</div>
      <div class="dvStickerContainer">
        <div class="dvStickerContainer">
          <div style="min-height: 143px;">

            <div class=dvSticker>
              <div class="dvStickerHeaderLeft"> TOTAL GP$</div>
              <div class="dvStickerHeaderRight"> 140.4</div>
              <div class="dvStickerContentLeft">
                <div style="padding-top: 10px;">
                  <span class="spnStickerLeftVal">
                    <img src='assets/up_arrow.png'>3.157</span>
                  <div style="float:right;">
                    <span class=spnStickerCenterVal>VS.TG</span>
                    <span class=spnStickerRightVal>137.3</span>
                  </div>
                </div>
                <div style="padding-top: 10px;">
                  <span class="spnStickerLeftVal">
                    <img src='assets/up_arrow.png'>3.157</span>
                  <div style="float:right;">
                    <span class=spnStickerCenterVal>VS.LY</span>
                    <span class=spnStickerRightVal>137.3</span>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div style="min-height: 143px;">

            <div class=dvSticker>
              <div class="dvStickerHeaderLeft"> TOTAL GP$</div>
              <div class="dvStickerHeaderRight"> 140.4</div>
              <div class="dvStickerContentLeft">
                <div style="padding-top: 10px;">
                  <span class="spnStickerLeftVal">
                    <img src='assets/up_arrow.png'>3.157</span>
                  <div style="float:right;">
                    <span class=spnStickerCenterVal>VS.TG</span>
                    <span class=spnStickerRightVal>137.3</span>
                  </div>
                </div>
                <div style="padding-top: 10px;">
                  <span class="spnStickerLeftVal">
                    <img src='assets/up_arrow.png'>3.157</span>
                  <div style="float:right;">
                    <span class=spnStickerCenterVal>VS.LY</span>
                    <span class=spnStickerRightVal>137.3</span>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="dvStickerDevider"></div>
          <div class="mixPercentage">
            <span style="font-size: 10px;line-height: 50px;">Mix%</span>
            <div>
              <div class="mixPercentageColumns">
                <span style="position: absolute;top:0px;">ACTUAL</span>
                <span style="position: absolute;bottom:0px;">59.9%</span>
              </div>

              <div class="mixPercentageColumns">
                <div class="vl"></div>
              </div>


              <div class="mixPercentageColumns" style="margin-left: 110px;">
                <span style="position: absolute;top:0px;">TARGET</span>
                <span style="position: absolute;bottom:0px;">59.9%</span>
              </div>
              <div class="mixPercentageColumns" style="margin-left: 111px;">
                <div class="vl"></div>

              </div>

              <div class="mixPercentageColumns" style="margin-left: 186px;">
                <img class="imgMixPercentage" src='assets/up_arrow.png'>
                <span style="position: absolute;top:0px;">VS.LY</span>
                <span style="position: absolute;bottom:0px;">59.9%</span>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
    <div style="float:left;">
      <div class="dvStickerHeaderCapSmall"></div>
      <div class="dvStickerHeaderSmall">RETAIL MINUS</div>
      <div class="dvStickerContainer">
        <div class="dvStickerContainer">
          <div style="min-height: 143px;">

            <div class=dvSticker>
              <div class="dvStickerHeaderLeft"> TOTAL GP$</div>
              <div class="dvStickerHeaderRight"> 140.4</div>
              <div class="dvStickerContentLeft">
                <div style="padding-top: 10px;">
                  <span class="spnStickerLeftVal">
                    <img src='assets/up_arrow.png'>3.157</span>
                  <div style="float:right;">
                    <span class=spnStickerCenterVal>VS.TG</span>
                    <span class=spnStickerRightVal>137.3</span>
                  </div>
                </div>
                <div style="padding-top: 10px;">
                  <span class="spnStickerLeftVal">
                    <img src='assets/up_arrow.png'>3.157</span>
                  <div style="float:right;">
                    <span class=spnStickerCenterVal>VS.LY</span>
                    <span class=spnStickerRightVal>137.3</span>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div style="min-height: 143px;">

            <div class=dvSticker>
              <div class="dvStickerHeaderLeft"> TOTAL GP$</div>
              <div class="dvStickerHeaderRight"> 140.4</div>
              <div class="dvStickerContentLeft">
                <div style="padding-top: 10px;">
                  <span class="spnStickerLeftVal">
                    <img src='assets/up_arrow.png'>3.157</span>
                  <div style="float:right;">
                    <span class=spnStickerCenterVal>VS.TG</span>
                    <span class=spnStickerRightVal>137.3</span>
                  </div>
                </div>
                <div style="padding-top: 10px;">
                  <span class="spnStickerLeftVal">
                    <img src='assets/up_arrow.png'>3.157</span>
                  <div style="float:right;">
                    <span class=spnStickerCenterVal>VS.LY</span>
                    <span class=spnStickerRightVal>137.3</span>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="dvStickerDevider"></div>
          <div class="mixPercentage">
            <span style="font-size: 10px;line-height: 50px;">Mix%</span>
            <div>
              <div class="mixPercentageColumns">
                <span style="position: absolute;top:0px;">ACTUAL</span>
                <span style="position: absolute;bottom:0px;">59.9%</span>
              </div>

              <div class="mixPercentageColumns">
                <div class="vl"></div>
              </div>


              <div class="mixPercentageColumns" style="margin-left: 110px;">
                <span style="position: absolute;top:0px;">TARGET</span>
                <span style="position: absolute;bottom:0px;">59.9%</span>
              </div>
              <div class="mixPercentageColumns" style="margin-left: 111px;">
                <div class="vl"></div>

              </div>

              <div class="mixPercentageColumns" style="margin-left: 186px;">
                <img class="imgMixPercentage" src='assets/up_arrow.png'>
                <span style="position: absolute;top:0px;">VS.LY</span>
                <span style="position: absolute;bottom:0px;">59.9%</span>
              </div>

            </div>
          </div>

          <div class="dvStickerDevider"></div>
          <div class="dvStickerLst">
            <div>
              <span style="position: absolute;top:18px;font-size:10px;line-height:initial">RM
                <br>DISCOUNT</span>
              <div class="mixPercentageColumns">
                <span style="position: absolute;top:-6px;margin-left:30px;">ACTUAL</span>
                <span style="position: absolute;top:15px;margin-left:30px;">59.9%</span>
              </div>
              <div style="top:21px;left: 100px;" class="vl"></div>
              <div class="mixPercentageColumns">
                <span style="position: absolute;top:-6px;margin-left:120px;">ACTUAL</span>
                <span style="position: absolute;top:15px;margin-left:120px;">59.9%</span>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div style="float:left;">
      <div class="dvStickerHeaderCapSmall"></div>
      <div class="dvStickerHeaderSmall">FUNDED</div>
      <div class="dvStickerContainer">
        <div class="dvStickerContainer">
          <div style="min-height: 143px;">
            <div class=dvSticker>
              <div class="dvStickerHeaderLeft"> TOTAL GP$</div>
              <div class="dvStickerHeaderRight"> 140.4</div>
              <div class="dvStickerContentLeft">
                <div style="padding-top: 10px;">
                  <span class="spnStickerLeftVal">
                    <img src='assets/up_arrow.png'>3.157</span>
                  <div style="float:right;">
                    <span class=spnStickerCenterVal>VS.TG</span>
                    <span class=spnStickerRightVal>137.3</span>
                  </div>
                </div>
                <div style="padding-top: 10px;">
                  <span class="spnStickerLeftVal">
                    <img src='assets/up_arrow.png'>3.157</span>
                  <div style="float:right;">
                    <span class=spnStickerCenterVal>VS.LY</span>
                    <span class=spnStickerRightVal>137.3</span>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div style="min-height: 143px;">
            <div class=dvSticker>
              <div class="dvStickerHeaderLeft"> TOTAL GP$</div>
              <div class="dvStickerHeaderRight"> 140.4</div>
              <div class="dvStickerContentLeft">
                <div style="padding-top: 10px;">
                  <span class="spnStickerLeftVal">
                    <img src='assets/up_arrow.png'>3.157</span>
                  <div style="float:right;">
                    <span class=spnStickerCenterVal>VS.TG</span>
                    <span class=spnStickerRightVal>137.3</span>
                  </div>
                </div>
                <div style="padding-top: 10px;">
                  <span class="spnStickerLeftVal">
                    <img src='assets/up_arrow.png'>3.157</span>
                  <div style="float:right;">
                    <span class=spnStickerCenterVal>VS.LY</span>
                    <span class=spnStickerRightVal>137.3</span>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="dvStickerDevider"></div>
          <div class="mixPercentage">
            <span style="font-size: 10px;line-height: 50px;">Mix%</span>
            <div>
              <div class="mixPercentageColumns">
                <span style="position: absolute;top:0px;">ACTUAL</span>
                <span style="position: absolute;bottom:0px;">59.9%</span>
              </div>

              <div class="mixPercentageColumns">
                <div class="vl"></div>
              </div>


              <div class="mixPercentageColumns" style="margin-left: 110px;">
                <span style="position: absolute;top:0px;">TARGET</span>
                <span style="position: absolute;bottom:0px;">59.9%</span>
              </div>
              <div class="mixPercentageColumns" style="margin-left: 111px;">
                <div class="vl"></div>

              </div>

              <div class="mixPercentageColumns" style="margin-left: 186px;">
                <img class="imgMixPercentage" src='assets/up_arrow.png'>
                <span style="position: absolute;top:0px;">VS.LY</span>
                <span style="position: absolute;bottom:0px;">59.9%</span>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div style="float:left;">
      <div class="dvStickerHeaderCapSmall"></div>
      <div class="dvStickerHeaderSmall">CCC</div>
      <div class="dvStickerContainer">
        <div class="dvStickerContainer">
          <div style="min-height: 143px;">
            <div class=dvSticker>
              <div class="dvStickerHeaderLeft"> TOTAL GP$</div>
              <div class="dvStickerHeaderRight"> 140.4</div>
              <div class="dvStickerContentLeft">
                <div style="padding-top: 10px;">
                  <span class="spnStickerLeftVal">
                    <img src='assets/up_arrow.png'>3.157</span>
                  <div style="float:right;">
                    <span class=spnStickerCenterVal>VS.TG</span>
                    <span class=spnStickerRightVal>137.3</span>
                  </div>
                </div>
                <div style="padding-top: 10px;">
                  <span class="spnStickerLeftVal">
                    <img src='assets/up_arrow.png'>3.157</span>
                  <div style="float:right;">
                    <span class=spnStickerCenterVal>VS.LY</span>
                    <span class=spnStickerRightVal>137.3</span>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div style="min-height: 143px;">
            <div class=dvSticker>
              <div class="dvStickerHeaderLeft"> TOTAL GP$</div>
              <div class="dvStickerHeaderRight"> 140.4</div>
              <div class="dvStickerContentLeft">
                <div style="padding-top: 10px;">
                  <span class="spnStickerLeftVal">
                    <img src='assets/up_arrow.png'>3.157</span>
                  <div style="float:right;">
                    <span class=spnStickerCenterVal>VS.TG</span>
                    <span class=spnStickerRightVal>137.3</span>
                  </div>
                </div>
                <div style="padding-top: 10px;">
                  <span class="spnStickerLeftVal">
                    <img src='assets/up_arrow.png'>3.157</span>
                  <div style="float:right;">
                    <span class=spnStickerCenterVal>VS.LY</span>
                    <span class=spnStickerRightVal>137.3</span>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="dvStickerDevider"></div>
          <div class="mixPercentage">
            <span style="font-size: 10px;line-height: 50px;">Mix%</span>
            <div>
              <div class="mixPercentageColumns">
                <span style="position: absolute;top:0px;">ACTUAL</span>
                <span style="position: absolute;bottom:0px;">59.9%</span>
              </div>

              <div class="mixPercentageColumns">
                <div class="vl"></div>
              </div>


              <div class="mixPercentageColumns" style="margin-left: 110px;">
                <span style="position: absolute;top:0px;">TARGET</span>
                <span style="position: absolute;bottom:0px;">59.9%</span>
              </div>
              <div class="mixPercentageColumns" style="margin-left: 111px;">
                <div class="vl"></div>

              </div>

              <div class="mixPercentageColumns" style="margin-left: 186px;">
                <img class="imgMixPercentage" src='assets/up_arrow.png'>
                <span style="position: absolute;top:0px;">VS.LY</span>
                <span style="position: absolute;bottom:0px;">59.9%</span>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="margin-bottom: 20px;float:left;width:100%"></div>
  </div>
</div>