<div class="container-fluid" style="min-width: 1334px;">
  <div class="row">
    <div class="customer-pricing" style="width: 1315px">PFJ OVERVIEW
      <span *ngIf="selectedCustPricingDetails != null" style="margin-left: 15px;color: #CECED1">Last Closed Period: {{selectedCustPricingDetails.lastClosedPeriod}}</span>
      <div style="float: right;width: 20%;margin-right:22px;font-size: 14px;color: #CECED1">
        <div style="float: right;margin-left: 10px;line-height: 20px;">
          <span style="padding-left: 2px;">LCYTD</span>
          <input style="float: left;" [checked] = "this.repository.selectedDataPeriod == 'LCYTD'" (click)="ProcessSelectedCustomerPricingDetails('LCYTD')" name="toggleDataPeriod" ng-control="toggleDataPeriod"
            type="radio">
        </div>
        <div style="float: right;margin-left: 10px;line-height: 20px;">
          <span style="padding-left: 2px;">LCM</span>
          <input style="float: left;" [checked] = "this.repository.selectedDataPeriod == 'LCM'" (click)="ProcessSelectedCustomerPricingDetails('LCM')" name="toggleDataPeriod" ng-control="toggleDataPeriod"
            type="radio">
        </div>
        <div style="float: right;margin-left: 10px;line-height: 20px;">
          <span style="padding-left: 2px;">MTD</span>
          <input style="float: left;" [checked] = "this.repository.selectedDataPeriod == 'MTD'" (click)="ProcessSelectedCustomerPricingDetails('MTD')" name="toggleDataPeriod" ng-control="toggleDataPeriod"
            type="radio">
        </div>
      </div>
    </div>
    <!--PFJ total section -->
    <ng-container *ngIf="selectedCustPricingDetails != null">
      <div style="float:left;margin-top: 20px;">
        <div class="dvStickerHeaderCap"></div>
        <div class="dvStickerHeader">PFJ TOTAL</div>
        <div class="dvStickerContainer">
          <div style="min-height: 143px;">
            <div class=dvSticker>
              <div class="dvStickerHeaderLeft"> TOTAL GP$</div>
              <div class="dvStickerHeaderRight"> 140.4</div>
              <div class="dvStickerContentLeft">
                <div style="padding-top: 10px;">
                  <span class="col-sm-5 spnStickerLeftVal">
                    <img *ngIf="selectedCustPricingDetails.pfjTotal.grossProfitDollars.vsTgLeftPositive" src='assets/images/up_arrow.png'>
                    <img *ngIf="!selectedCustPricingDetails.pfjTotal.grossProfitDollars.vsTgLeftPositive" src='assets/images/down_arrow.png'> {{selectedCustPricingDetails.pfjTotal.grossProfitDollars.vsTgLeft}}
                  </span>
                  <div>
                    <span class="col-sm-4 spnStickerCenterVal">VS.TG</span>
                    <span class="col-sm-3 spnStickerRightVal">{{selectedCustPricingDetails.pfjTotal.grossProfitDollars.vsTgRight}}</span>
                  </div>
                </div>
                <div style="padding-top: 10px;">
                  <span class="col-sm-5 spnStickerLeftVal">
                    <img *ngIf="selectedCustPricingDetails.pfjTotal.grossProfitDollars.vsLyLeftPositive" src='assets/images/up_arrow.png'>
                    <img *ngIf="!selectedCustPricingDetails.pfjTotal.grossProfitDollars.vsLyLeftPositive" src='assets/images/down_arrow.png'> {{selectedCustPricingDetails.pfjTotal.grossProfitDollars.vsLyLeft}}
                  </span>
                  <div>
                    <span class="col-sm-4 spnStickerCenterVal">VS.LY</span>
                    <span class="col-sm-3 spnStickerRightVal">{{selectedCustPricingDetails.pfjTotal.grossProfitDollars.vsLyRight}}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class=dvSticker>
              <div class="dvStickerHeaderLeft"> VOLUME</div>
              <div class="dvStickerHeaderRight"> 140.4</div>
              <div class="dvStickerContentLeft">
                <div style="padding-top: 10px;">
                  <span class="col-sm-5 spnStickerLeftVal">
                    <img *ngIf="selectedCustPricingDetails.pfjTotal.volume.vsTgLeftPositive" src='assets/images/up_arrow.png'>
                    <img *ngIf="!selectedCustPricingDetails.pfjTotal.volume.vsTgLeftPositive" src='assets/images/down_arrow.png'> {{selectedCustPricingDetails.pfjTotal.volume.vsTgLeft}}
                  </span>
                  <div>
                    <span class="col-sm-4 spnStickerCenterVal">VS.TG</span>
                    <span class="col-sm-3 spnStickerRightVal">{{selectedCustPricingDetails.pfjTotal.volume.vsTgRight}}</span>
                  </div>
                </div>
                <div style="padding-top: 10px;">
                  <span class="col-sm-5 spnStickerLeftVal">
                    <img *ngIf="selectedCustPricingDetails.pfjTotal.volume.vsLyLeftPositive" src='assets/images/up_arrow.png'>
                    <img *ngIf="!selectedCustPricingDetails.pfjTotal.volume.vsLyLeftPositive" src='assets/images/down_arrow.png'> {{selectedCustPricingDetails.pfjTotal.volume.vsLyLeft}}
                  </span>
                  <div>
                    <span class="col-sm-4 spnStickerCenterVal">VS.LY</span>
                    <span class="col-sm-3 spnStickerRightVal">{{selectedCustPricingDetails.pfjTotal.volume.vsLyRight}}</span>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div style="min-height: 143px;">
            <div class=dvSticker>
              <div class="dvStickerHeaderLeft"> MARGIN</div>
              <div class="dvStickerHeaderRight"> 140.4</div>
              <div class="dvStickerContentLeft">
                <div style="padding-top: 10px;">
                  <span class="col-sm-5 spnStickerLeftVal">
                    <img *ngIf="selectedCustPricingDetails.pfjTotal.margin.vsTgLeftPositive" src='assets/images/up_arrow.png'>
                    <img *ngIf="!selectedCustPricingDetails.pfjTotal.margin.vsTgLeftPositive" src='assets/images/down_arrow.png'> {{selectedCustPricingDetails.pfjTotal.margin.vsTgLeft}}
                  </span>
                  <div>
                    <span class="col-sm-4 spnStickerCenterVal">VS.TG</span>
                    <span class="col-sm-3 spnStickerRightVal">{{selectedCustPricingDetails.pfjTotal.margin.vsTgRight}}</span>
                  </div>
                </div>
                <div style="padding-top: 10px;">
                  <span class="col-sm-5 spnStickerLeftVal">
                    <img *ngIf="selectedCustPricingDetails.pfjTotal.margin.vsLyLeftPositive" src='assets/images/up_arrow.png'>
                    <img *ngIf="!selectedCustPricingDetails.pfjTotal.margin.vsLyLeftPositive" src='assets/images/down_arrow.png'> {{selectedCustPricingDetails.pfjTotal.margin.vsLyLeft}}
                  </span>
                  <div>
                    <span class="col-sm-4 spnStickerCenterVal">VS.LY</span>
                    <span class="col-sm-3 spnStickerRightVal">{{selectedCustPricingDetails.pfjTotal.margin.vsLyRight}}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class=dvSticker>
              <div class="dvStickerContentLeft" style="margin-top:0px;height: 143px;">
                <div class="dvStickerHeaderCapSmall"></div>
                <div style="padding-top: 10px;">
                  <span class="col-sm-9 spnStickerLeftVal" style="font-size: 14px;">TOTAL GAL</span>
                  <div>
                    <span class="col-sm-3 spnStickerRightVal">{{selectedCustPricingDetails.pfjTotal.totalGAL}}</span>
                  </div>
                </div>
                <div style="padding-top: 10px;">
                  <span class="col-sm-9 spnStickerLeftVal" style="font-size:14px;">TOTAL TARGET</span>
                  <div>
                    <span class="col-sm-3 spnStickerRightVal">{{selectedCustPricingDetails.pfjTotal.totalTarget}}</span>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <!-- Tableu map-->
      <div style="float:left;margin-top: 20px;">
        <div class="dvStickerHeaderCap" style="width: 507px;"></div>
        <div class="dvStickerHeader" style="width: 507px;">GROSS PROFIT $</div>
        <div class="dvStickerContainer">
          <div class="dvTableauMap"></div>
        </div>
      </div>

      <!--Choose view-->
      <div style="float:left;margin-top: 20px;">
        <div class="dvStickerHeaderCapSmall" style="width: 243px;"></div>
        <div class="dvStickerHeaderSmall" style="width: 243px;">CHOOSE VIEW</div>
        <div class="dvStickerContainer" style="width: 243px;">
          <div class="dvTableauMapFilter" style="width: 243px;font-size: 12px;">
            <div style="color:#CECED1;padding-top:7%">
              <span style="margin-left: 5px;vertical-align: sub">
                <input name="tableauFilter" ng-control="options" type="radio">
              </span>
              <span>
                GROSS PROFIT $
              </span>
            </div>
            <div style="color:#CECED1;padding-top:27%">
              <span style="margin-left: 5px;vertical-align: sub">
                <input name="tableauFilter" ng-control="options" type="radio">
              </span>
              <span>
                VOLUME
              </span>
            </div>
            <div style="color:#CECED1;padding-top:27%">
              <span style="margin-left: 5px;vertical-align: sub">
                <input name="tableauFilter" ng-control="options" type="radio">
              </span>
              <span>
                MARGIN
              </span>
            </div>
            <div></div>
            <div></div>
          </div>
        </div>
      </div>

      <!-- Next line starts here -->
      <div style="margin-bottom: 20px;float:left;width:100%"></div>
      <!--Better of-->
      <div style="float:left;">
        <div class="dvStickerHeaderCapSmall"></div>
        <div class="dvStickerHeaderSmall">BETTER OF</div>
        <div class="dvStickerContainer">
          <div class="dvStickerContainer">
            <div style="min-height: 143px;">
              <div class=dvSticker>
                <div class="dvStickerHeaderLeft"> TOTAL GP$</div>
                <div class="dvStickerHeaderRight"> 140.4</div>
                <div class="dvStickerContentLeft">
                  <div style="padding-top: 10px;">
                    <span class="col-sm-5 spnStickerLeftVal">
                      <img *ngIf="selectedCustPricingDetails.betterOf.grossProfitDollars.vsTgLeftPositive" src='assets/images/up_arrow.png'>
                    <img *ngIf="!selectedCustPricingDetails.betterOf.grossProfitDollars.vsTgLeftPositive" src='assets/images/down_arrow.png'>
                    {{selectedCustPricingDetails.betterOf.grossProfitDollars.vsTgLeft}}</span>
                    <div>
                      <span class="col-sm-4 spnStickerCenterVal">VS.TG</span>
                      <span class="col-sm-3 spnStickerRightVal">{{selectedCustPricingDetails.betterOf.grossProfitDollars.vsTgRight}}</span>
                    </div>
                  </div>
                  <div style="padding-top: 10px;">
                    <span class="col-sm-5 spnStickerLeftVal">
                      <img *ngIf="selectedCustPricingDetails.betterOf.grossProfitDollars.vsLyLeftPositive" src='assets/images/up_arrow.png'>
                    <img *ngIf="!selectedCustPricingDetails.betterOf.grossProfitDollars.vsLyLeftPositive" src='assets/images/down_arrow.png'> 
                    {{selectedCustPricingDetails.betterOf.grossProfitDollars.vsLyLeft}}</span>
                    <div>
                      <span class="col-sm-4 spnStickerCenterVal">VS.LY</span>
                      <span class="col-sm-3 spnStickerRightVal">{{selectedCustPricingDetails.betterOf.grossProfitDollars.vsLyRight}}</span>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div style="min-height: 143px;">
              <div class=dvSticker>
                <div class="dvStickerHeaderLeft"> VOLUME</div>
                <div class="dvStickerHeaderRight"> 140.4</div>
                <div class="dvStickerContentLeft">
                  <div style="padding-top: 10px;">
                    <span class="col-sm-5 spnStickerLeftVal">
                    <img *ngIf="selectedCustPricingDetails.betterOf.volume.vsTgLeftPositive" src='assets/images/up_arrow.png'>
                    <img *ngIf="!selectedCustPricingDetails.betterOf.volume.vsTgLeftPositive" src='assets/images/down_arrow.png'>
                    {{selectedCustPricingDetails.betterOf.volume.vsTgLeft}}</span>
                    <div>
                      <span class="col-sm-4 spnStickerCenterVal">VS.TG</span>
                      <span class="col-sm-3 spnStickerRightVal">{{selectedCustPricingDetails.betterOf.volume.vsTgRight}}</span>
                    </div>
                  </div>
                  <div style="padding-top: 10px;">
                    <span class="col-sm-5 spnStickerLeftVal">
                    <img *ngIf="selectedCustPricingDetails.betterOf.volume.vsLyLeftPositive" src='assets/images/up_arrow.png'>
                    <img *ngIf="!selectedCustPricingDetails.betterOf.volume.vsLyLeftPositive" src='assets/images/down_arrow.png'>
                    {{selectedCustPricingDetails.betterOf.volume.vsLyLeft}}</span>
                    <div>
                      <span class="col-sm-4 spnStickerCenterVal">VS.LY</span>
                      <span class="col-sm-3 spnStickerRightVal">{{selectedCustPricingDetails.betterOf.volume.vsLyRight}}</span>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="dvStickerDevider"></div>
            <div class="mixPercentage">
              <span style="font-size: 10px;line-height: 50px;">Mix%</span>
              <div>
                <div class="mixPercentageColumns">
                  <span style="position: absolute;top:0px;">ACTUAL</span>
                  <span style="position: absolute;bottom:0px;">{{selectedCustPricingDetails.betterOf.mixPercentage.mixActual}}%</span>
                </div>

                <div class="mixPercentageColumns">
                  <div class="vl"></div>
                </div>


                <div class="mixPercentageColumns" style="margin-left: 110px;">
                  <span style="position: absolute;top:0px;">TARGET</span>
                  <span style="position: absolute;bottom:0px;">{{selectedCustPricingDetails.betterOf.mixPercentage.mixTarget}}%</span>
                </div>
                <div class="mixPercentageColumns" style="margin-left: 111px;">
                  <div class="vl"></div>

                </div>

                <div class="mixPercentageColumns" style="margin-left: 186px;">
                  <img *ngIf = "selectedCustPricingDetails.betterOf.mixPercentage.mixVsLyPositive"class="imgMixPercentage" src='assets/images/up_arrow.png'>
                  <img *ngIf = "!selectedCustPricingDetails.betterOf.mixPercentage.mixVsLyPositive"class="imgMixPercentage" src='assets/images/down_arrow.png'>
                  <span style="position: absolute;top:0px;">VS.LY</span>
                  <span style="position: absolute;bottom:0px;">{{selectedCustPricingDetails.betterOf.mixPercentage.mixVsLy}}%</span>
                </div>

              </div>
            </div>
            <div style="min-height: 143px;">
              <div class=dvSticker>
                <div class="dvStickerHeaderLeft"> MARGIN</div>
                <div class="dvStickerHeaderRight"> 140.4</div>
                <div class="dvStickerContentLeft">
                  <div style="padding-top: 10px;">
                    <span class="col-sm-5 spnStickerLeftVal">
                    <img *ngIf="selectedCustPricingDetails.betterOf.margin.vsTgLeftPositive" src='assets/images/up_arrow.png'>
                    <img *ngIf="!selectedCustPricingDetails.betterOf.margin.vsTgLeftPositive" src='assets/images/down_arrow.png'>
                    {{selectedCustPricingDetails.betterOf.margin.vsTgLeft}}</span>
                    <div>
                      <span class="col-sm-4 spnStickerCenterVal">VS.TG</span>
                      <span class="col-sm-3 spnStickerRightVal">{{selectedCustPricingDetails.betterOf.margin.vsTgRight}}</span>
                    </div>
                  </div>
                  <div style="padding-top: 10px;">
                    <span class="col-sm-5 spnStickerLeftVal">
                    <img *ngIf="selectedCustPricingDetails.betterOf.margin.vsLyLeftPositive" src='assets/images/up_arrow.png'>
                    <img *ngIf="!selectedCustPricingDetails.betterOf.margin.vsLyLeftPositive" src='assets/images/down_arrow.png'>
                    {{selectedCustPricingDetails.betterOf.margin.vsLyLeft}}</span>
                    <div>
                      <span class="col-sm-4 spnStickerCenterVal">VS.LY</span>
                      <span class="col-sm-3 spnStickerRightVal">{{selectedCustPricingDetails.betterOf.margin.vsLyRight}}</span>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <div class="dvStickerDevider"></div>
            <div class="dvStickerLst">
              <div>
                <span style="position: absolute;top:18px;font-size:10px;line-height: initial">BUYING
                  <br>PERF</span>
                <div class="mixPercentageColumns">
                  <span style="position: absolute;top:-6px;margin-left:30px;">ACTUAL</span>
                  <span style="position: absolute;top:15px;margin-left:30px;">{{selectedCustPricingDetails.betterOf.buyingPerfActual}}%</span>
                </div>
                <div style="top:21px;left: 100px;" class="vl"></div>
                <div class="mixPercentageColumns">
                  <span style="position: absolute;top:-6px;margin-left:120px;">TARGET</span>
                  <span style="position: absolute;top:15px;margin-left:120px;">{{selectedCustPricingDetails.betterOf.buyingPerfTarget}}%</span>
                </div>

                <div class="mixPercentageColumns">
                  <span style="position: absolute;top:42px;margin-left:30px;">{{selectedCustPricingDetails.betterOf.effPumpFeeActual}}%</span>
                </div>
                <div style="top:48px;left: 100px;" class="vl"></div>
                <div class="mixPercentageColumns">
                  <span style="position: absolute;top:42px;margin-left:120px;">{{selectedCustPricingDetails.betterOf.effPumpFeeTarget}}%</span>
                </div>
              </div>

              <div>
                <span style="position: absolute;bottom:18px;font-size:10px;line-height: initial">EFF
                  <br>PUMP FEE</span>
              </div>
            </div>
          </div>
        </div>

      </div>

      <!--Total retail-->
      <div style="float:left;">
        <div class="dvStickerHeaderCapSmall"></div>
        <div class="dvStickerHeaderSmall">TOTAL RETAIL</div>
        <div class="dvStickerContainer">
          <div class="dvStickerContainer">
            <div style="min-height: 143px;">
              <div class=dvSticker>
                <div class="dvStickerHeaderLeft"> TOTAL GP$</div>
                <div class="dvStickerHeaderRight"> 140.4</div>
                <div class="dvStickerContentLeft">
                  <div style="padding-top: 10px;">
                    <span class="col-sm-5 spnStickerLeftVal">
                      <img *ngIf="selectedCustPricingDetails.totalRetail.grossProfitDollars.vsTgLeftPositive" src='assets/images/up_arrow.png'>
                    <img *ngIf="!selectedCustPricingDetails.totalRetail.grossProfitDollars.vsTgLeftPositive" src='assets/images/down_arrow.png'>
                    {{selectedCustPricingDetails.totalRetail.grossProfitDollars.vsTgLeft}}</span>
                    <div>
                      <span class="col-sm-4 spnStickerCenterVal">VS.TG</span>
                      <span class="col-sm-3 spnStickerRightVal">{{selectedCustPricingDetails.totalRetail.grossProfitDollars.vsTgRight}}</span>
                    </div>
                  </div>
                  <div style="padding-top: 10px;">
                    <span class="col-sm-5 spnStickerLeftVal">
                      <img *ngIf="selectedCustPricingDetails.totalRetail.grossProfitDollars.vsLyLeftPositive" src='assets/images/up_arrow.png'>
                    <img *ngIf="!selectedCustPricingDetails.totalRetail.grossProfitDollars.vsLyLeftPositive" src='assets/images/down_arrow.png'> 
                    {{selectedCustPricingDetails.totalRetail.grossProfitDollars.vsLyLeft}}</span>
                    <div>
                      <span class="col-sm-4 spnStickerCenterVal">VS.LY</span>
                      <span class="col-sm-3 spnStickerRightVal">{{selectedCustPricingDetails.totalRetail.grossProfitDollars.vsLyRight}}</span>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div style="min-height: 143px;">
              <div class=dvSticker>
                <div class="dvStickerHeaderLeft"> VOLUME</div>
                <div class="dvStickerHeaderRight"> 140.4</div>
                <div class="dvStickerContentLeft">
                  <div style="padding-top: 10px;">
                    <span class="col-sm-5 spnStickerLeftVal">
                    <img *ngIf="selectedCustPricingDetails.totalRetail.volume.vsTgLeftPositive" src='assets/images/up_arrow.png'>
                    <img *ngIf="!selectedCustPricingDetails.totalRetail.volume.vsTgLeftPositive" src='assets/images/down_arrow.png'>
                    {{selectedCustPricingDetails.totalRetail.volume.vsTgLeft}}</span>
                    <div>
                      <span class="col-sm-4 spnStickerCenterVal">VS.TG</span>
                      <span class="col-sm-3 spnStickerRightVal">{{selectedCustPricingDetails.totalRetail.volume.vsTgRight}}</span>
                    </div>
                  </div>
                  <div style="padding-top: 10px;">
                    <span class="col-sm-5 spnStickerLeftVal">
                    <img *ngIf="selectedCustPricingDetails.totalRetail.volume.vsLyLeftPositive" src='assets/images/up_arrow.png'>
                    <img *ngIf="!selectedCustPricingDetails.totalRetail.volume.vsLyLeftPositive" src='assets/images/down_arrow.png'>
                    {{selectedCustPricingDetails.totalRetail.volume.vsLyLeft}}</span>
                    <div>
                      <span class="col-sm-4 spnStickerCenterVal">VS.LY</span>
                      <span class="col-sm-3 spnStickerRightVal">{{selectedCustPricingDetails.totalRetail.volume.vsLyRight}}</span>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="dvStickerDevider"></div>
            <div class="mixPercentage">
              <span style="font-size: 10px;line-height: 50px;">Mix%</span>
              <div>
                <div class="mixPercentageColumns">
                  <span style="position: absolute;top:0px;">ACTUAL</span>
                  <span style="position: absolute;bottom:0px;">{{selectedCustPricingDetails.totalRetail.mixPercentage.mixActual}}%</span>
                </div>

                <div class="mixPercentageColumns">
                  <div class="vl"></div>
                </div>


                <div class="mixPercentageColumns" style="margin-left: 110px;">
                  <span style="position: absolute;top:0px;">TARGET</span>
                  <span style="position: absolute;bottom:0px;">{{selectedCustPricingDetails.totalRetail.mixPercentage.mixTarget}}%</span>
                </div>
                <div class="mixPercentageColumns" style="margin-left: 111px;">
                  <div class="vl"></div>

                </div>

                <div class="mixPercentageColumns" style="margin-left: 186px;">
                  <img *ngIf = "selectedCustPricingDetails.totalRetail.mixPercentage.mixVsLyPositive"class="imgMixPercentage" src='assets/images/up_arrow.png'>
                  <img *ngIf = "!selectedCustPricingDetails.totalRetail.mixPercentage.mixVsLyPositive"class="imgMixPercentage" src='assets/images/down_arrow.png'>
                  <span style="position: absolute;top:0px;">VS.LY</span>
                  <span style="position: absolute;bottom:0px;">{{selectedCustPricingDetails.totalRetail.mixPercentage.mixVsLy}}%</span>
                </div>

              </div>
            </div>
            <div style="min-height: 143px;">
              <div class=dvSticker>
                <div class="dvStickerHeaderLeft"> MARGIN</div>
                <div class="dvStickerHeaderRight"> 140.4</div>
                <div class="dvStickerContentLeft">
                  <div style="padding-top: 10px;">
                    <span class="col-sm-5 spnStickerLeftVal">
                    <img *ngIf="selectedCustPricingDetails.totalRetail.margin.vsTgLeftPositive" src='assets/images/up_arrow.png'>
                    <img *ngIf="!selectedCustPricingDetails.totalRetail.margin.vsTgLeftPositive" src='assets/images/down_arrow.png'>
                    {{selectedCustPricingDetails.totalRetail.margin.vsTgLeft}}</span>
                    <div>
                      <span class="col-sm-4 spnStickerCenterVal">VS.TG</span>
                      <span class="col-sm-3 spnStickerRightVal">{{selectedCustPricingDetails.totalRetail.margin.vsTgRight}}</span>
                    </div>
                  </div>
                  <div style="padding-top: 10px;">
                    <span class="col-sm-5 spnStickerLeftVal">
                    <img *ngIf="selectedCustPricingDetails.totalRetail.margin.vsLyLeftPositive" src='assets/images/up_arrow.png'>
                    <img *ngIf="!selectedCustPricingDetails.totalRetail.margin.vsLyLeftPositive" src='assets/images/down_arrow.png'>
                    {{selectedCustPricingDetails.totalRetail.margin.vsLyLeft}}</span>
                    <div>
                      <span class="col-sm-4 spnStickerCenterVal">VS.LY</span>
                      <span class="col-sm-3 spnStickerRightVal">{{selectedCustPricingDetails.totalRetail.margin.vsLyRight}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--Retail minus-->
      <div style="float:left;">
        <div class="dvStickerHeaderCapSmall"></div>
        <div class="dvStickerHeaderSmall">RETAIL MINUS</div>
        <div class="dvStickerContainer">
          <div class="dvStickerContainer">
            <div style="min-height: 143px;">
              <div class=dvSticker>
                <div class="dvStickerHeaderLeft"> TOTAL GP$</div>
                <div class="dvStickerHeaderRight"> 140.4</div>
                <div class="dvStickerContentLeft">
                  <div style="padding-top: 10px;">
                    <span class="col-sm-5 spnStickerLeftVal">
                      <img *ngIf="selectedCustPricingDetails.retailMinus.grossProfitDollars.vsTgLeftPositive" src='assets/images/up_arrow.png'>
                    <img *ngIf="!selectedCustPricingDetails.retailMinus.grossProfitDollars.vsTgLeftPositive" src='assets/images/down_arrow.png'>
                    {{selectedCustPricingDetails.retailMinus.grossProfitDollars.vsTgLeft}}</span>
                    <div>
                      <span class="col-sm-4 spnStickerCenterVal">VS.TG</span>
                      <span class="col-sm-3 spnStickerRightVal">{{selectedCustPricingDetails.retailMinus.grossProfitDollars.vsTgRight}}</span>
                    </div>
                  </div>
                  <div style="padding-top: 10px;">
                    <span class="col-sm-5 spnStickerLeftVal">
                      <img *ngIf="selectedCustPricingDetails.retailMinus.grossProfitDollars.vsLyLeftPositive" src='assets/images/up_arrow.png'>
                    <img *ngIf="!selectedCustPricingDetails.retailMinus.grossProfitDollars.vsLyLeftPositive" src='assets/images/down_arrow.png'> 
                    {{selectedCustPricingDetails.retailMinus.grossProfitDollars.vsLyLeft}}</span>
                    <div>
                      <span class="col-sm-4 spnStickerCenterVal">VS.LY</span>
                      <span class="col-sm-3 spnStickerRightVal">{{selectedCustPricingDetails.retailMinus.grossProfitDollars.vsLyRight}}</span>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div style="min-height: 143px;">
              <div class=dvSticker>
                <div class="dvStickerHeaderLeft"> VOLUME</div>
                <div class="dvStickerHeaderRight"> 140.4</div>
                <div class="dvStickerContentLeft">
                  <div style="padding-top: 10px;">
                    <span class="col-sm-5 spnStickerLeftVal">
                    <img *ngIf="selectedCustPricingDetails.retailMinus.volume.vsTgLeftPositive" src='assets/images/up_arrow.png'>
                    <img *ngIf="!selectedCustPricingDetails.retailMinus.volume.vsTgLeftPositive" src='assets/images/down_arrow.png'>
                    {{selectedCustPricingDetails.retailMinus.volume.vsTgLeft}}</span>
                    <div>
                      <span class="col-sm-4 spnStickerCenterVal">VS.TG</span>
                      <span class="col-sm-3 spnStickerRightVal">{{selectedCustPricingDetails.retailMinus.volume.vsTgRight}}</span>
                    </div>
                  </div>
                  <div style="padding-top: 10px;">
                    <span class="col-sm-5 spnStickerLeftVal">
                    <img *ngIf="selectedCustPricingDetails.retailMinus.volume.vsLyLeftPositive" src='assets/images/up_arrow.png'>
                    <img *ngIf="!selectedCustPricingDetails.retailMinus.volume.vsLyLeftPositive" src='assets/images/down_arrow.png'>
                    {{selectedCustPricingDetails.retailMinus.volume.vsLyLeft}}</span>
                    <div>
                      <span class="col-sm-4 spnStickerCenterVal">VS.LY</span>
                      <span class="col-sm-3 spnStickerRightVal">{{selectedCustPricingDetails.retailMinus.volume.vsLyRight}}</span>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="dvStickerDevider"></div>
            <div class="mixPercentage">
              <span style="font-size: 10px;line-height: 50px;">Mix%</span>
              <div>
                <div class="mixPercentageColumns">
                  <span style="position: absolute;top:0px;">ACTUAL</span>
                  <span style="position: absolute;bottom:0px;">{{selectedCustPricingDetails.retailMinus.mixPercentage.mixActual}}%</span>
                </div>

                <div class="mixPercentageColumns">
                  <div class="vl"></div>
                </div>


                <div class="mixPercentageColumns" style="margin-left: 110px;">
                  <span style="position: absolute;top:0px;">TARGET</span>
                  <span style="position: absolute;bottom:0px;">{{selectedCustPricingDetails.retailMinus.mixPercentage.mixTarget}}%</span>
                </div>
                <div class="mixPercentageColumns" style="margin-left: 111px;">
                  <div class="vl"></div>

                </div>

                <div class="mixPercentageColumns" style="margin-left: 186px;">
                  <img *ngIf = "selectedCustPricingDetails.retailMinus.mixPercentage.mixVsLyPositive"class="imgMixPercentage" src='assets/images/up_arrow.png'>
                  <img *ngIf = "!selectedCustPricingDetails.retailMinus.mixPercentage.mixVsLyPositive"class="imgMixPercentage" src='assets/images/down_arrow.png'>
                  <span style="position: absolute;top:0px;">VS.LY</span>
                  <span style="position: absolute;bottom:0px;">{{selectedCustPricingDetails.retailMinus.mixPercentage.mixVsLy}}%</span>
                </div>

              </div>
            </div>
            <div style="min-height: 143px;">
              <div class=dvSticker>
                <div class="dvStickerHeaderLeft"> MARGIN</div>
                <div class="dvStickerHeaderRight"> 140.4</div>
                <div class="dvStickerContentLeft">
                  <div style="padding-top: 10px;">
                    <span class="col-sm-5 spnStickerLeftVal">
                    <img *ngIf="selectedCustPricingDetails.retailMinus.margin.vsTgLeftPositive" src='assets/images/up_arrow.png'>
                    <img *ngIf="!selectedCustPricingDetails.retailMinus.margin.vsTgLeftPositive" src='assets/images/down_arrow.png'>
                    {{selectedCustPricingDetails.retailMinus.margin.vsTgLeft}}</span>
                    <div>
                      <span class="col-sm-4 spnStickerCenterVal">VS.TG</span>
                      <span class="col-sm-3 spnStickerRightVal">{{selectedCustPricingDetails.retailMinus.margin.vsTgRight}}</span>
                    </div>
                  </div>
                  <div style="padding-top: 10px;">
                    <span class="col-sm-5 spnStickerLeftVal">
                    <img *ngIf="selectedCustPricingDetails.retailMinus.margin.vsLyLeftPositive" src='assets/images/up_arrow.png'>
                    <img *ngIf="!selectedCustPricingDetails.retailMinus.margin.vsLyLeftPositive" src='assets/images/down_arrow.png'>
                    {{selectedCustPricingDetails.retailMinus.margin.vsLyLeft}}</span>
                    <div>
                      <span class="col-sm-4 spnStickerCenterVal">VS.LY</span>
                      <span class="col-sm-3 spnStickerRightVal">{{selectedCustPricingDetails.retailMinus.margin.vsLyRight}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
           <div class="dvStickerDevider"></div>
          <div class="dvStickerLst">
            <div>
              <span style="position: absolute;top:18px;font-size:10px;line-height:initial">RM
                <br>DISCOUNT</span>
              <div class="mixPercentageColumns">
                <span style="position: absolute;top:-6px;margin-left:30px;">ACTUAL</span>
                <span style="position: absolute;top:15px;margin-left:30px;">{{selectedCustPricingDetails.retailMinus.rmDiscountActual}}%</span>
              </div>
              <div style="top:21px;left: 100px;" class="vl"></div>
              <div class="mixPercentageColumns">
                <span style="position: absolute;top:-6px;margin-left:120px;">TARGET</span>
                <span style="position: absolute;top:15px;margin-left:120px;">{{selectedCustPricingDetails.retailMinus.rmDiscountTarget}}%</span>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>

      <!--Funded-->
      <div style="float:left;">
        <div class="dvStickerHeaderCapSmall"></div>
        <div class="dvStickerHeaderSmall">FUNDED</div>
        <div class="dvStickerContainer">
          <div class="dvStickerContainer">
            <div style="min-height: 143px;">
              <div class=dvSticker>
                <div class="dvStickerHeaderLeft"> TOTAL GP$</div>
                <div class="dvStickerHeaderRight"> 140.4</div>
                <div class="dvStickerContentLeft">
                  <div style="padding-top: 10px;">
                    <span class="col-sm-5 spnStickerLeftVal">
                      <img *ngIf="selectedCustPricingDetails.funded.grossProfitDollars.vsTgLeftPositive" src='assets/images/up_arrow.png'>
                    <img *ngIf="!selectedCustPricingDetails.funded.grossProfitDollars.vsTgLeftPositive" src='assets/images/down_arrow.png'>
                    {{selectedCustPricingDetails.funded.grossProfitDollars.vsTgLeft}}</span>
                    <div>
                      <span class="col-sm-4 spnStickerCenterVal">VS.TG</span>
                      <span class="col-sm-3 spnStickerRightVal">{{selectedCustPricingDetails.funded.grossProfitDollars.vsTgRight}}</span>
                    </div>
                  </div>
                  <div style="padding-top: 10px;">
                    <span class="col-sm-5 spnStickerLeftVal">
                      <img *ngIf="selectedCustPricingDetails.funded.grossProfitDollars.vsLyLeftPositive" src='assets/images/up_arrow.png'>
                    <img *ngIf="!selectedCustPricingDetails.funded.grossProfitDollars.vsLyLeftPositive" src='assets/images/down_arrow.png'> 
                    {{selectedCustPricingDetails.funded.grossProfitDollars.vsLyLeft}}</span>
                    <div>
                      <span class="col-sm-4 spnStickerCenterVal">VS.LY</span>
                      <span class="col-sm-3 spnStickerRightVal">{{selectedCustPricingDetails.funded.grossProfitDollars.vsLyRight}}</span>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div style="min-height: 143px;">
              <div class=dvSticker>
                <div class="dvStickerHeaderLeft"> VOLUME</div>
                <div class="dvStickerHeaderRight"> 140.4</div>
                <div class="dvStickerContentLeft">
                  <div style="padding-top: 10px;">
                    <span class="col-sm-5 spnStickerLeftVal">
                    <img *ngIf="selectedCustPricingDetails.funded.volume.vsTgLeftPositive" src='assets/images/up_arrow.png'>
                    <img *ngIf="!selectedCustPricingDetails.funded.volume.vsTgLeftPositive" src='assets/images/down_arrow.png'>
                    {{selectedCustPricingDetails.funded.volume.vsTgLeft}}</span>
                    <div>
                      <span class="col-sm-4 spnStickerCenterVal">VS.TG</span>
                      <span class="col-sm-3 spnStickerRightVal">{{selectedCustPricingDetails.funded.volume.vsTgRight}}</span>
                    </div>
                  </div>
                  <div style="padding-top: 10px;">
                    <span class="col-sm-5 spnStickerLeftVal">
                    <img *ngIf="selectedCustPricingDetails.funded.volume.vsLyLeftPositive" src='assets/images/up_arrow.png'>
                    <img *ngIf="!selectedCustPricingDetails.funded.volume.vsLyLeftPositive" src='assets/images/down_arrow.png'>
                    {{selectedCustPricingDetails.funded.volume.vsLyLeft}}</span>
                    <div>
                      <span class="col-sm-4 spnStickerCenterVal">VS.LY</span>
                      <span class="col-sm-3 spnStickerRightVal">{{selectedCustPricingDetails.funded.volume.vsLyRight}}</span>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="dvStickerDevider"></div>
            <div class="mixPercentage">
              <span style="font-size: 10px;line-height: 50px;">Mix%</span>
              <div>
                <div class="mixPercentageColumns">
                  <span style="position: absolute;top:0px;">ACTUAL</span>
                  <span style="position: absolute;bottom:0px;">{{selectedCustPricingDetails.funded.mixPercentage.mixActual}}%</span>
                </div>

                <div class="mixPercentageColumns">
                  <div class="vl"></div>
                </div>


                <div class="mixPercentageColumns" style="margin-left: 110px;">
                  <span style="position: absolute;top:0px;">TARGET</span>
                  <span style="position: absolute;bottom:0px;">{{selectedCustPricingDetails.funded.mixPercentage.mixTarget}}%</span>
                </div>
                <div class="mixPercentageColumns" style="margin-left: 111px;">
                  <div class="vl"></div>

                </div>

                <div class="mixPercentageColumns" style="margin-left: 186px;">
                  <img *ngIf = "selectedCustPricingDetails.funded.mixPercentage.mixVsLyPositive"class="imgMixPercentage" src='assets/images/up_arrow.png'>
                  <img *ngIf = "!selectedCustPricingDetails.funded.mixPercentage.mixVsLyPositive"class="imgMixPercentage" src='assets/images/down_arrow.png'>
                  <span style="position: absolute;top:0px;">VS.LY</span>
                  <span style="position: absolute;bottom:0px;">{{selectedCustPricingDetails.funded.mixPercentage.mixVsLy}}%</span>
                </div>

              </div>
            </div>
            <div style="min-height: 143px;">
              <div class=dvSticker>
                <div class="dvStickerHeaderLeft"> MARGIN</div>
                <div class="dvStickerHeaderRight"> 140.4</div>
                <div class="dvStickerContentLeft">
                  <div style="padding-top: 10px;">
                    <span class="col-sm-5 spnStickerLeftVal">
                    <img *ngIf="selectedCustPricingDetails.funded.margin.vsTgLeftPositive" src='assets/images/up_arrow.png'>
                    <img *ngIf="!selectedCustPricingDetails.funded.margin.vsTgLeftPositive" src='assets/images/down_arrow.png'>
                    {{selectedCustPricingDetails.funded.margin.vsTgLeft}}</span>
                    <div>
                      <span class="col-sm-4 spnStickerCenterVal">VS.TG</span>
                      <span class="col-sm-3 spnStickerRightVal">{{selectedCustPricingDetails.funded.margin.vsTgRight}}</span>
                    </div>
                  </div>
                  <div style="padding-top: 10px;">
                    <span class="col-sm-5 spnStickerLeftVal">
                    <img *ngIf="selectedCustPricingDetails.funded.margin.vsLyLeftPositive" src='assets/images/up_arrow.png'>
                    <img *ngIf="!selectedCustPricingDetails.funded.margin.vsLyLeftPositive" src='assets/images/down_arrow.png'>
                    {{selectedCustPricingDetails.funded.margin.vsLyLeft}}</span>
                    <div>
                      <span class="col-sm-4 spnStickerCenterVal">VS.LY</span>
                      <span class="col-sm-3 spnStickerRightVal">{{selectedCustPricingDetails.funded.margin.vsLyRight}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--CCC-->
      <div style="float:left;">
        <div class="dvStickerHeaderCapSmall"></div>
        <div class="dvStickerHeaderSmall">CCC</div>
        <div class="dvStickerContainer">
          <div class="dvStickerContainer">
            <div style="min-height: 143px;">
              <div class=dvSticker>
                <div class="dvStickerHeaderLeft"> TOTAL GP$</div>
                <div class="dvStickerHeaderRight"> 140.4</div>
                <div class="dvStickerContentLeft">
                  <div style="padding-top: 10px;">
                    <span class="col-sm-5 spnStickerLeftVal">
                      <img *ngIf="selectedCustPricingDetails.ccc.grossProfitDollars.vsTgLeftPositive" src='assets/images/up_arrow.png'>
                    <img *ngIf="!selectedCustPricingDetails.ccc.grossProfitDollars.vsTgLeftPositive" src='assets/images/down_arrow.png'>
                    {{selectedCustPricingDetails.ccc.grossProfitDollars.vsTgLeft}}</span>
                    <div>
                      <span class="col-sm-4 spnStickerCenterVal">VS.TG</span>
                      <span class="col-sm-3 spnStickerRightVal">{{selectedCustPricingDetails.ccc.grossProfitDollars.vsTgRight}}</span>
                    </div>
                  </div>
                  <div style="padding-top: 10px;">
                    <span class="col-sm-5 spnStickerLeftVal">
                      <img *ngIf="selectedCustPricingDetails.ccc.grossProfitDollars.vsLyLeftPositive" src='assets/images/up_arrow.png'>
                    <img *ngIf="!selectedCustPricingDetails.ccc.grossProfitDollars.vsLyLeftPositive" src='assets/images/down_arrow.png'> 
                    {{selectedCustPricingDetails.ccc.grossProfitDollars.vsLyLeft}}</span>
                    <div>
                      <span class="col-sm-4 spnStickerCenterVal">VS.LY</span>
                      <span class="col-sm-3 spnStickerRightVal">{{selectedCustPricingDetails.ccc.grossProfitDollars.vsLyRight}}</span>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div style="min-height: 143px;">
              <div class=dvSticker>
                <div class="dvStickerHeaderLeft"> VOLUME</div>
                <div class="dvStickerHeaderRight"> 140.4</div>
                <div class="dvStickerContentLeft">
                  <div style="padding-top: 10px;">
                    <span class="col-sm-5 spnStickerLeftVal">
                    <img *ngIf="selectedCustPricingDetails.ccc.volume.vsTgLeftPositive" src='assets/images/up_arrow.png'>
                    <img *ngIf="!selectedCustPricingDetails.ccc.volume.vsTgLeftPositive" src='assets/images/down_arrow.png'>
                    {{selectedCustPricingDetails.ccc.volume.vsTgLeft}}</span>
                    <div>
                      <span class="col-sm-4 spnStickerCenterVal">VS.TG</span>
                      <span class="col-sm-3 spnStickerRightVal">{{selectedCustPricingDetails.ccc.volume.vsTgRight}}</span>
                    </div>
                  </div>
                  <div style="padding-top: 10px;">
                    <span class="col-sm-5 spnStickerLeftVal">
                    <img *ngIf="selectedCustPricingDetails.ccc.volume.vsLyLeftPositive" src='assets/images/up_arrow.png'>
                    <img *ngIf="!selectedCustPricingDetails.ccc.volume.vsLyLeftPositive" src='assets/images/down_arrow.png'>
                    {{selectedCustPricingDetails.ccc.volume.vsLyLeft}}</span>
                    <div>
                      <span class="col-sm-4 spnStickerCenterVal">VS.LY</span>
                      <span class="col-sm-3 spnStickerRightVal">{{selectedCustPricingDetails.ccc.volume.vsLyRight}}</span>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="dvStickerDevider"></div>
            <div class="mixPercentage">
              <span style="font-size: 10px;line-height: 50px;">Mix%</span>
              <div>
                <div class="mixPercentageColumns">
                  <span style="position: absolute;top:0px;">ACTUAL</span>
                  <span style="position: absolute;bottom:0px;">{{selectedCustPricingDetails.ccc.mixPercentage.mixActual}}%</span>
                </div>

                <div class="mixPercentageColumns">
                  <div class="vl"></div>
                </div>


                <div class="mixPercentageColumns" style="margin-left: 110px;">
                  <span style="position: absolute;top:0px;">TARGET</span>
                  <span style="position: absolute;bottom:0px;">{{selectedCustPricingDetails.ccc.mixPercentage.mixTarget}}%</span>
                </div>
                <div class="mixPercentageColumns" style="margin-left: 111px;">
                  <div class="vl"></div>

                </div>

                <div class="mixPercentageColumns" style="margin-left: 186px;">
                  <img *ngIf = "selectedCustPricingDetails.ccc.mixPercentage.mixVsLyPositive"class="imgMixPercentage" src='assets/images/up_arrow.png'>
                  <img *ngIf = "!selectedCustPricingDetails.ccc.mixPercentage.mixVsLyPositive"class="imgMixPercentage" src='assets/images/down_arrow.png'>
                  <span style="position: absolute;top:0px;">VS.LY</span>
                  <span style="position: absolute;bottom:0px;">{{selectedCustPricingDetails.ccc.mixPercentage.mixVsLy}}%</span>
                </div>

              </div>
            </div>
            <div style="min-height: 143px;">
              <div class=dvSticker>
                <div class="dvStickerHeaderLeft"> MARGIN</div>
                <div class="dvStickerHeaderRight"> 140.4</div>
                <div class="dvStickerContentLeft">
                  <div style="padding-top: 10px;">
                    <span class="col-sm-5 spnStickerLeftVal">
                    <img *ngIf="selectedCustPricingDetails.ccc.margin.vsTgLeftPositive" src='assets/images/up_arrow.png'>
                    <img *ngIf="!selectedCustPricingDetails.ccc.margin.vsTgLeftPositive" src='assets/images/down_arrow.png'>
                    {{selectedCustPricingDetails.ccc.margin.vsTgLeft}}</span>
                    <div>
                      <span class="col-sm-4 spnStickerCenterVal">VS.TG</span>
                      <span class="col-sm-3 spnStickerRightVal">{{selectedCustPricingDetails.ccc.margin.vsTgRight}}</span>
                    </div>
                  </div>
                  <div style="padding-top: 10px;">
                    <span class="col-sm-5 spnStickerLeftVal">
                    <img *ngIf="selectedCustPricingDetails.ccc.margin.vsLyLeftPositive" src='assets/images/up_arrow.png'>
                    <img *ngIf="!selectedCustPricingDetails.ccc.margin.vsLyLeftPositive" src='assets/images/down_arrow.png'>
                    {{selectedCustPricingDetails.ccc.margin.vsLyLeft}}</span>
                    <div>
                      <span class="col-sm-4 spnStickerCenterVal">VS.LY</span>
                      <span class="col-sm-3 spnStickerRightVal">{{selectedCustPricingDetails.ccc.margin.vsLyRight}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <div style="margin-bottom: 20px;float:left;width:100%"></div>
  </div>
</div>