<div class="dvStickerLst">
    <div>
      <span style="position: absolute;top:18px;font-size:10px;line-height:initial">RM
        <br>DISCOUNT</span>
      <div class="mixPercentageColumns">
        <span style="position: absolute;top:-6px;margin-left:30px;">ACTUAL</span>
        <span style="position: absolute;top:15px;margin-left:30px;">{{retailMinus.rmDiscountActual}}%</span>
      </div>
      <div style="top:21px;left: 100px;" class="vl"></div>
      <div class="mixPercentageColumns">
        <span style="position: absolute;top:-6px;margin-left:120px;">TARGET</span>
        <span style="position: absolute;top:15px;margin-left:120px;">{{retailMinus.rmDiscountTarget}}%</span>
      </div>
    </div>
  </div>

